
$accent       : #d56312;              // accent color.

@import 'core/_vars.scss';
@import 'core/_common.scss';

@import url(http://fonts.googleapis.com/css?family=Damion);

// import IE shims as needed

@font-face {
    font-family: 'BebasNeue';
    src: url('/media/fonts/bebasNeue/BebasNeue.eot');
    src: url('/media/fonts/bebasNeue/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/bebasNeue/BebasNeue.woff') format('woff'),
         url('/media/fonts/bebasNeue/BebasNeue.ttf') format('truetype'),
         url('/media/fonts/bebasNeue/BebasNeue.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Insert custom site styles.
body { backgound-image: $texture; @include trans() }

header[role=banner] {
  .site-name h1 {max-width:335px}
  .site-name h2 { 
    font-family: 'Damion', cursive;
    font-size: 1.5em;
    padding: 0.5em 0;
    color: $accent_alt;
    display: none;
    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 2px 2px #000, 0 0 10px rgba(lighten($accent, 20%), .7);

    @include breakpoint(s) {
      display:block
    }
  }
}

header[role=banner], 
footer[role=contentinfo] { 
  -moz-background-size: cover; 
  background-size: cover;

  > div { 
    position:relative; 
    
    .navicon {
      background: $accent;
      position: relative;
      z-index: 1000;
      
      @include breakpoint(s) {
        position: absolute;
        bottom: -2em;
        right: 0;
        background: darken($base, 5%) $texture;
        color: $inverse;
        border-width: 0 2px 2px;
        border-radius: 0 0 5px 5px;
        display: block; // overrides normal hidden
        padding: 0 1em .5em;
      }
    }
  }

  nav > ul > li {
    padding: 0;
    font-family: BebasNeue;
    font-size: 1.125em;
    padding-left: $gutter_width/2;
    padding-right: $gutter_width/2;
    @include radius($default_radius);
    border:1px solid transparent;

    &:hover {
      background: transparentize($base, .1);
      border-color: $base_alt;
    }
    li {
      font-family: $base_font;
      font-size:.75em;
      line-height:1.25em;
    }
  }
  nav li.active > a { color:$accent }
}

#content {
  div[role=main] > h1, 
  div[role=main] > article > h1, 
  div[role=main] > header > h1,
  #forum_categories h1 { font-family: BebasNeue; font-size: 3em }

  article h1 { font-family: BebasNeue; }

  @include breakpoint(s) {
    background-repeat: no-repeat;
  }
  //@include breakpoint(m) {
    //background-image: url(http://media.kansascity.com/v3/img/grids/940.jpg);
  //}
  //@include breakpoint(l) {
    //background-image: url(http://media.kansascity.com/v3/img/grids/1180.jpg);
  //}
}

#herotext {
  font-size:150%;
  padding-right: $gutter_width;
  @include breakpoint(l) { padding-right:20%; };
  @include breakpoint(m) { padding-right:30%; };
  @include breakpoint(s) { padding-right:40%; };
}

.sponsors {
  font-size:.8em;
  img {
    background: #fff; 
    border: 1px inset $base_alt;
    padding: 3px;
    max-width: 150px; 
    @include radius(3px);
    @include breakpoint(s) { width:60%; };
  }
}

#footer {background-position: bottom right}
