// Set vars as needed


@import '../site.scss';
@import '../layout_snippets/horizontal_navigation.scss';

header[role=banner], 
footer[role=contentinfo] {
  background-color: #f7f7f7;

  nav a:hover {color: #000}
  .navicon:before {color: $inverse_alt}
}
