header[role=banner] {
  top: 0; 
  width: 100%; 
  z-index: 100; 
  padding: 10px 0; 
  min-height: 60px;
  border-bottom: 2px solid $accent; 
  
  .site-name {
    padding-right: $gutter;

    h1 { max-width:335px }
    h2 { 
      @extend .pad-top-bottom;
      display: none;
      
      @include breakpoint(s) {
        display:block
      }
    }
  }
  nav {
    position: relative; 
    @include breakpoint(s) { margin-left: 31%; }
  }
}